<vg-player *ngIf="loadPlayer" (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>

        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

        <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin [src]="source">
        <track *ngIf="subtitles && subtitles.eng" kind="subtitles" label="English" [src]="'http://localhost:3000' + subtitles.eng" srclang="en">
        <track *ngIf="subtitles && subtitles.fre" kind="subtitles" label="Français" [src]="'http://localhost:3000' + subtitles.fre" srclang="fr">
    </video>
</vg-player>