<div class="row">
    <div class="auth align-self-center col-xs-12 col-md-4 col-lg-2 offset-md-4 offset-lg-5">
        <div>
            <div class="col-xs-12">
                <h4>Reset password</h4>
                <form [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="form-group"
                         [class.has-success]="form.get('password').dirty && form.get('password').valid"
                         [class.has-danger]="formErrors.password"
                    >
                        <label for="password" class="form-control-label">New password</label>
                        <input type="password" id="password" formControlName="password" required class="form-control"
                               [class.form-control-success]="form.get('password').dirty && form.get('password').valid"
                               [class.form-control-danger]="formErrors.password"
                        >
                        <div class="form-control-feedback" *ngIf="formErrors.password">
                            {{ formErrors.password }}
                        </div>
                    </div>

                    <div class="form-group"
                         [class.has-success]="form.get('passwordConf').dirty && form.get('passwordConf').valid"
                         [class.has-danger]="formErrors.passwordConf"
                    >
                        <label for="passwordConf" class="form-control-label">New password confirmation</label>
                        <input type="password" id="passwordConf" formControlName="passwordConf" required class="form-control"
                               [class.form-control-success]="form.get('passwordConf').dirty && form.get('passwordConf').valid"
                               [class.form-control-danger]="formErrors.passwordConf"
                        >
                        <div class="form-control-feedback" *ngIf="formErrors.passwordConf">
                            {{ formErrors.passwordConf }}
                        </div>
                    </div>
                    <button [disabled]="!form.valid" class="btn btn-block">
                        <span *ngIf="!loading">Reset password</span>
                        <span *ngIf="loading">Loading...</span>
                    </button>
                </form>
                <a (click)="closeForget()">Back to login</a>
            </div>
        </div>
    </div>
</div>