<form novalidate [formGroup]="registerForm" (ngSubmit)="formSubmit()" *ngIf="this.registerModel.username">

    <div class="form-group row">
        <div class="col-sm-2 col-form-label text-right">
            <img src="{{currentUser.pic.indexOf('http') !== -1 ? currentUser.pic : 'http://localhost:3000/userpics/' + currentUser.pic}}" alt="avatar" class="img-fluid img-thumbnail">
        </div>
        <div class="col-sm-10 d-flex align-items-center">
            <div class="form-group"
                 [class.has-danger]="registerFormErrors.pic"
            >
                <label for="pic">Avatar</label>
                <input type="file" name="pic" id="pic" (change)="picChangeEvent($event)">
                <div class="form-control-label" *ngIf="registerFormErrors.pic">
                    {{ registerFormErrors.pic }}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row"
         [class.has-success]="registerForm.get('username').dirty && !registerFormErrors.username"
         [class.has-danger]="registerFormErrors.username"
    >
        <label for="username2" class="col-sm-2 col-form-label text-right">Username</label>
        <div class="col-sm-10">
            <input type="text" id="username2"  formControlName="username" required class="form-control"
                   [class.form-control-success]="registerForm.get('username').dirty && !registerFormErrors.username"
                   [class.form-control-danger]="registerFormErrors.username"
            >
            <div class="form-control-label" *ngIf="registerFormErrors.username">
                {{ registerFormErrors.username }}
            </div>
        </div>
    </div>
    <div class="form-group row"
         [class.has-success]="registerForm.get('email').dirty && !registerFormErrors.email"
         [class.has-danger]="registerFormErrors.email"
    >
        <label for="email" class="col-sm-2 col-form-label text-right">Email</label>
        <div class="col-sm-10">
            <input type="email" id="email" formControlName="email" required class="form-control"
                   [class.form-control-success]="registerForm.get('email').dirty && !registerFormErrors.email"
                   [class.form-control-danger]="registerFormErrors.email"
            >
            <div class="form-control-label" *ngIf="registerFormErrors.email">
                {{ registerFormErrors.email }}
            </div>
        </div>
    </div>

    <div class="form-group row"
         [class.has-success]="registerForm.get('firstname').dirty && !registerFormErrors.firstname"
         [class.has-danger]="registerFormErrors.firstname"
    >
        <label for="firstname" class="col-sm-2 col-form-label text-right">First name</label>
        <div class="col-sm-10">
            <input type="text" id="firstname" formControlName="firstname" required class="form-control"
                         [class.form-control-success]="registerForm.get('firstname').dirty && !registerFormErrors.firstname"
                         [class.form-control-danger]="registerFormErrors.firstname"
        >
            <div class="form-control-label" *ngIf="registerFormErrors.firstname">
                {{ registerFormErrors.firstname }}
            </div>
        </div>
    </div>

    <div class="form-group row"
         [class.has-success]="registerForm.get('lastname').dirty && !registerFormErrors.lastname"
         [class.has-danger]="registerFormErrors.lastname"
    >
        <label for="lastname" class="col-sm-2 col-form-label text-right">Last name</label>
        <div class="col-sm-10">
            <input type="text" id="lastname" formControlName="lastname" required class="form-control"
                   [class.form-control-success]="registerForm.get('lastname').dirty && !registerFormErrors.lastname"
                   [class.form-control-danger]="registerFormErrors.lastname"
            >
            <div class="form-control-label" *ngIf="registerFormErrors.lastname">
                {{ registerFormErrors.lastname }}
            </div>
        </div>
    </div>

    <div class="form-group row"
         [class.has-success]="registerForm.get('password').dirty && !registerFormErrors.password"
         [class.has-danger]="registerFormErrors.password"
    >
        <label for="password2" class="col-sm-2 col-form-label text-right">Password</label>
        <div class="col-sm-10">
            <input type="password" id="password2" formControlName="password" class="form-control"
                   [class.form-control-success]="registerForm.get('password').dirty && !registerFormErrors.password"
                   [class.form-control-danger]="registerFormErrors.password"
            >
            <div class="form-control-label" *ngIf="registerFormErrors.password">
                {{ registerFormErrors.password }}
            </div>
        </div>
    </div>
    <div class="form-group row"
         [class.has-success]="registerForm.get('passwordConf').dirty && !registerFormErrors.passwordConf"
         [class.has-danger]="registerFormErrors.passwordConf"
    >
        <label for="passwordConf" class="col-sm-2 col-form-label text-right">Password confirmation</label>
        <div class="col-sm-10">
            <input type="password" id="passwordConf" formControlName="passwordConf" class="form-control"
                   [class.form-control-success]="registerForm.get('passwordConf').dirty && !registerFormErrors.passwordConf"
                   [class.form-control-danger]="registerFormErrors.passwordConf"
            >
            <div class="form-control-label" *ngIf="registerFormErrors.passwordConf">
                {{ registerFormErrors.passwordConf }}
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button [disabled]="!registerForm.valid" class=" btn btn-block">
                <span *ngIf="!loading">Update</span>
                <span *ngIf="loading">Loading...</span>
            </button>
        </div>
    </div>
</form>
