/*html { height: 100vh; }
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.auth {
    background-color: #494949;
    border-radius: 2px;
    box-shadow: 3px 3px 10px #000;
}
*/
