<div class="row">
    <div class="auth align-self-center col-xs-12 col-md-4 col-lg-2 offset-md-4 offset-lg-5">
        <!-- Register / Login -->
        <h1 class="text-center display-4">Sign in with</h1>
            <app-social-auth></app-social-auth>

        <div class="strike">
            <span>OR</span>
        </div>

        <!-- Forget -->
        <div *ngIf="forget">
            <div class="col-xs-12">
                <h4>Password forget</h4>
                <form [formGroup]="forgetForm" (ngSubmit)="forgetSubmit()">
                    <div class="form-group"
                         [class.has-success]="forgetForm.get('email').dirty && forgetForm.get('email').valid"
                         [class.has-danger]="forgetForm.get('email').dirty && !forgetForm.get('email').valid"
                    >
                        <label for="forget" class="form-control-label">Email adress</label>
                        <input type="email" id="forget" formControlName="email" required class="form-control"
                               [class.form-control-success]="forgetForm.get('email').dirty && forgetForm.get('email').valid"
                               [class.form-control-danger]="forgetForm.get('email').dirty && !forgetForm.get('email').valid"
                        >
                        <div class="form-control-feedback" *ngIf="forgetFormErrors.email">
                            {{ forgetFormErrors.email }}
                        </div>
                    </div>
                    <button [disabled]="!forgetForm.valid" class="btn btn-block">
                        <span *ngIf="!loading">Reset password</span>
                        <span *ngIf="loading">Loading...</span>
                    </button>
                </form>
                <a (click)="closeForget()">Back to login</a>
            </div>
        </div>

        <ngb-tabset class="nav-fill" *ngIf="!forget">
            <ngb-tab title="SIGN IN">
                <ng-template ngbTabContent>
                    <div class="col-xs-12">
                        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                            <div class="form-group"
                                 [class.has-success]="loginForm.get('username').dirty && loginForm.get('username').valid"
                                 [class.has-danger]="loginForm.get('username').dirty && !loginForm.get('username').valid"
                            >
                                <label for="usernameLogin" class="form-control-label">Username</label>
                                <input type="text" id="usernameLogin" formControlName="username" required class="form-control"
                                    [class.form-control-success]="loginForm.get('username').dirty && loginForm.get('username').valid"
                                    [class.form-control-danger]="loginForm.get('username').dirty && !loginForm.get('username').valid"
                                >
                                <div class="form-control-feedback" *ngIf="loginFormErrors.username">
                                    {{ loginFormErrors.username }}
                                </div>
                            </div>
                            <div class="form-group"
                                 [class.has-success]="loginForm.get('password').dirty && !loginFormErrors.password"
                                 [class.has-danger]="loginFormErrors.password"
                            >
                                <label for="passwordLogin">Password</label>
                                <input type="password" id="passwordLogin" formControlName="password" required class="form-control"
                                    [class.form-control-success]="loginForm.get('password').dirty && !loginFormErrors.password"
                                    [class.form-control-danger]="loginFormErrors.password"
                                >
                                <div class=""></div>
                                <div class="form-control-feedback" *ngIf="loginFormErrors.password">
                                    {{ loginFormErrors.password }}
                                </div>
                            </div>
                            <button [disabled]="!loginForm.valid" class="btn btn-block">
                                <span *ngIf="!loading">Login</span>
                                <span *ngIf="loading">Loading...</span>
                            </button>
                            <a (click)="forgetPassword()" class="text-center">Forget password ?</a>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="SIGN UP">
                <ng-template ngbTabContent>
                    <div class="col-xs-12">
                        <h2>Register</h2>
                        <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
                            <div class="form-group"
                                 [class.has-danger]="registerFormErrors.pic"
                            >
                                <label for="pic">Avatar</label>
                                <input type="file" name="pic" id="pic" (change)="picChangeEvent($event)">
                                <div class="form-control-label" *ngIf="registerFormErrors.pic">
                                    {{ registerFormErrors.pic }}
                                </div>
                            </div>

                            <div class="form-group"
                                 [class.has-success]="registerForm.get('username').dirty && !registerFormErrors.username"
                                 [class.has-danger]="registerFormErrors.username"
                            >
                                <label for="username2">Username</label>
                                <input type="text" id="username2"  formControlName="username" required class="form-control"
                                    [class.form-control-success]="registerForm.get('username').dirty && !registerFormErrors.username"
                                    [class.form-control-danger]="registerFormErrors.username"
                                >
                                <div class="form-control-label" *ngIf="registerFormErrors.username">
                                    {{ registerFormErrors.username }}
                                </div>
                            </div>
                            <div class="form-group"
                                 [class.has-success]="registerForm.get('email').dirty && !registerFormErrors.email"
                                 [class.has-danger]="registerFormErrors.email"
                            >
                                <label for="email">Email</label>
                                <input type="email" id="email" formControlName="email" required class="form-control"
                                       [class.form-control-success]="registerForm.get('email').dirty && !registerFormErrors.email"
                                       [class.form-control-danger]="registerFormErrors.email"
                                >
                                <div class="form-control-label" *ngIf="registerFormErrors.email">
                                    {{ registerFormErrors.email }}
                                </div>
                            </div>

                            <div class="form-group"
                                 [class.has-success]="registerForm.get('firstname').dirty && !registerFormErrors.firstname"
                                 [class.has-danger]="registerFormErrors.firstname"
                            >
                                <label for="firstname">First name</label>
                                <input type="text" id="firstname" formControlName="firstname" required class="form-control"
                                       [class.form-control-success]="registerForm.get('firstname').dirty && !registerFormErrors.firstname"
                                       [class.form-control-danger]="registerFormErrors.firstname"
                                >
                                <div class="form-control-label" *ngIf="registerFormErrors.firstname">
                                    {{ registerFormErrors.firstname }}
                                </div>
                            </div>

                            <div class="form-group"
                                 [class.has-success]="registerForm.get('lastname').dirty && !registerFormErrors.lastname"
                                 [class.has-danger]="registerFormErrors.lastname"
                            >
                                <label for="lastname">Last name</label>
                                <input type="text" id="lastname" formControlName="lastname" required class="form-control"
                                       [class.form-control-success]="registerForm.get('lastname').dirty && !registerFormErrors.lastname"
                                       [class.form-control-danger]="registerFormErrors.lastname"
                                >
                                <div class="form-control-label" *ngIf="registerFormErrors.lastname">
                                    {{ registerFormErrors.lastname }}
                                </div>
                            </div>

                            <div class="form-group"
                                 [class.has-success]="registerForm.get('password').dirty && !registerFormErrors.password"
                                 [class.has-danger]="registerFormErrors.password"
                            >
                                <label for="password2">Password</label>
                                <input type="password" id="password2" formControlName="password" required class="form-control"
                                       [class.form-control-success]="registerForm.get('password').dirty && !registerFormErrors.password"
                                       [class.form-control-danger]="registerFormErrors.password"
                                >
                                <div class="form-control-label" *ngIf="registerFormErrors.password">
                                    {{ registerFormErrors.password }}
                                </div>
                            </div>
                            <div class="form-group"
                                 [class.has-success]="registerForm.get('passwordConf').dirty && !registerFormErrors.passwordConf"
                                 [class.has-danger]="registerFormErrors.passwordConf"
                            >
                                <label for="passwordConf">Password confirmation</label>
                                <input type="password" id="passwordConf" formControlName="passwordConf" required class="form-control"
                                       [class.form-control-success]="registerForm.get('passwordConf').dirty && !registerFormErrors.passwordConf"
                                       [class.form-control-danger]="registerFormErrors.passwordConf"
                                >
                                <div class="form-control-label" *ngIf="registerFormErrors.passwordConf">
                                    {{ registerFormErrors.passwordConf }}
                                </div>
                            </div>
                            <button [disabled]="!registerFormValid" class="btn btn-block">
                                <span *ngIf="!loading">Register</span>
                                <span *ngIf="loading">Loading...</span>
                            </button>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
