.movie-container { background-repeat: no-repeat; background-position: center center; background-size: cover; }
.movie-container .bg { background-color: rgba(0, 0, 0, 0.7); padding-top: 50px; min-height: 100%; }

.movie-image-container { position: relative; }
.movie-image { position: fixed; max-width: inherit; }

.movie-info-container { padding-left: 30px; }

.movie-info { padding: 15px; font-size: 14px; }
.info { display: inline-block; }
    .info span { text-transform: uppercase; color: rgba(255, 255, 255, 0.7) }
.imdb { max-width: 35px; }
.movie-info .movie-mpa { display: inline-block; font-size: 12px; padding: 2px 4px 1px 4px; border: solid 1px #FFF; border-radius: 2px; vertical-align: middle; }

.movie-desc { font-size: 16px; white-space: pre-line; }

.bull-sep { display: inline-block; padding: 0 10px; }

.episode { margin-right: 25px; }
    .episode span { color: rgba(255, 255, 255, 0.7); }

.movie-watch { margin-left: 20px; }
.movie-watch button.watch { vertical-align: top; cursor: pointer; }
.btn-quality { background: #333; cursor: pointer; }
.btn-quality.active { background: #FFF; color: #333; }

@media screen and (max-width: 576px) {
    .movie-image { position: relative; }
    .movie-info-container { padding-left: 15px; }
}

.episodes-list { margin-top: 20px; }
    .episodes-list ul li.list-group-item { background: transparent }

.btn-back { margin: 10px 0; }