<div *ngIf="show" class="row h-100 movie-container" [style.background-image]="'url(' + show.background_image + ')'">
    <div class="col-12">
        <div class="row bg">
            <div class="col-12 col-sm-3 movie-image-container">
                <img [src]="show.cover_image" [default]="'assets/img/poster.png'" alt="" class="img-fluid movie-image">
            </div>
            <div class="col-12 col-sm-9 movie-info-container" *ngIf="info">
                <h1 class="display-3 ">{{show.title}}</h1>
                <div class="movie-info">
                    <div class="info">
                        {{info.Year}}
                    </div>
                    <span class="bull-sep">&bull;</span>
                    <div class="info">
                        {{info.Runtime}}
                    </div>
                    <span class="bull-sep">&bull;</span>
                    <div class="info">
                        {{info.Genre}}
                    </div>
                    <span class="bull-sep">&bull;</span>
                    <div class="info">
                        <a [href]="'http://www.imdb.com/title/' + show.imdb_code">
                            <img src="assets/img/imdb.png" alt="IMDB" class="imdb">
                        </a>
                    </div>
                    <span class="bull-sep">&bull;</span>
                    <div class="info">
                        {{info.imdbRating * 10}}%
                    </div>
                    <span class="bull-sep" *ngIf="info.Rated">&bull;</span>
                    <div class="info" *ngIf="info.Rated" >
                        <div class="movie-mpa">
                            {{info.Rated}}
                        </div>
                    </div>
                    <span class="bull-sep">&bull;</span>
                    <div class="info">
                        {{info.Country || show.country.toUpperCase()}}
                    </div>
                    <span class="bull-sep">&bull;</span>
                    <div class="info">
                        {{info.Language}}
                    </div>
                    <span class="bull-sep">&bull;</span>
                    <div class="info">
                        {{show.status}}
                    </div>
                    <span class="bull-sep" *ngIf="info.Director !== 'N/A'">&bull;</span>
                    <div class="info" *ngIf="info.Director !== 'N/A'">
                        <span>Director</span> {{info.Director}}
                    </div>
                    <span class="bull-sep" *ngIf="info.Writer !== 'N/A'">&bull;</span>
                    <div class="info" *ngIf="info.Writer !== 'N/A'">
                        <span>Writer</span> {{info.Writer}}
                    </div>
                    <span class="bull-sep" *ngIf="info.Actors !== 'N/A'">&bull;</span>
                    <div class="info" *ngIf="info.Actors !== 'N/A'">
                        <span>Actors</span> {{info.Actors}}
                    </div>
                    <span class="bull-sep" *ngIf="info.totalSeasons">&bull;</span>
                    <div class="info" *ngIf="info.totalSeasons">
                        <span>Seasons</span> {{info.totalSeasons}}
                    </div>
                </div>
                <div class="movie-desc">
                    {{show.description_full}}
                </div>

                <div class="movie-watch" *ngIf="torrents">
                    <div ngbRadioGroup>
                        <label class="btn btn-quality" *ngFor="let torrent of torrents" placement="top" ngbTooltip="{{torrent.size}}">
                            <input type="radio" [value]="torrent._id"> {{torrent.quality}}
                        </label>
                    </div>
                    <button class="btn watch">Watch !</button>
                </div>
            </div>
        </div>
    </div>
</div>
