<div class="row">
    <div class="add-comment col-12">
        <h3>Add your comment</h3>
        <form [formGroup]="commentForm" (ngSubmit)="commentSubmit()">
            <div class="form-group"
                 [class.has-success]="commentForm.get('comment').dirty && commentForm.get('comment').valid"
                 [class.has-danger]="commentForm.get('comment').dirty && !commentForm.get('comment').valid"
            >
                <textarea placeholder="Your comment..." formControlName="comment" required class="form-control"
                       [class.form-control-success]="commentForm.get('comment').dirty && commentForm.get('comment').valid"
                       [class.form-control-danger]="commentForm.get('comment').dirty && !commentForm.get('comment').valid"
                ></textarea>
                <div class="form-control-feedback" *ngIf="commentFormErrors.comment">
                    {{ commentFormErrors.comment }}
                </div>
            </div>
            <button [disabled]="!commentForm.valid" class="btn btn-block">
                <span *ngIf="!loading">Submit comment</span>
                <span *ngIf="loading">Loading...</span>
            </button>
        </form>
    </div>
    <div class="comment-list col-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let comment of comments">
                <span class="user">
                    <a [routerLink]="['/profile', comment.user_id._id]">{{comment.user_id.username}}</a>
                </span>
                <span class="comment">: {{comment.comment}}</span>
                <span class="date">{{comment.created_at |date }}</span>
            </li>
        </ul>
    </div>
</div>